dialog {
  position: fixed;
  border: none;
  background: linear-gradient(to bottom, #e8e0ac, #fef8cf 50%);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  top: auto;
  bottom: 0;
  width: 75vw;
  max-width: 750px;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 1);
  padding: 0;
  z-index: 100;
  font-size: 2.25rem;
}

dialog h1,
dialog h2,
dialog h3,
dialog h4,
dialog h5,
dialog h6 {
  font-family: var(--system-header-font-family);
  font-weight: 400;
  margin: 0.55em 0.88em;
}

dialog p {
  font-size: 0.77em;
  font-weight: 400;
  margin: 0.55em 0.882em 0.88em;
}

dialog::backdrop,
.dialog__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.dialog__backdrop--full-screen-dialog {
  z-index: auto;
  bottom: var(--command-bar-height);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

dialog .buttons {
  display: flex;
}

dialog .buttons > button {
  flex: 1 1;
  background: var(--dialog-button-bkg-accept);
  border: none;
  border-radius: 0;
  font-size: 1em;
  padding: 0.44em 0.88em;
  text-align: left;
}

dialog .buttons > button.reject {
  background: var(--dialog-button-bkg-reject);
}

dialog .buttons > button > .DialogButtonHotkey {
  display: inline-block;
  font-size: 0.7em;
  vertical-align: top;
  margin-top: 0.2em;
  background: linear-gradient(
    to bottom,
    var(--color-dark-3),
    var(--color-dark-2)
  );
  color: var(--color-light);
  border: 1px solid var(--color-dark-4);
  border-radius: var(--command-bar-radius);
  font-weight: 600;
  margin-right: 0.25em;
  width: 1.6em;
  text-align: center;
}

dialog .buttons > button > .DialogButtonHotkey > svg {
  height: 1em;
  width: auto;
  color: inherit;
  vertical-align: top;
  margin-top: 0.1em;
}

dialog .buttons > button:active > .DialogButtonHotkey,
dialog .buttons > button.active > .DialogButtonHotkey {
  color: var(--color-black);
  border-color: var(--color-white);
  background: var(--color-white);
}
