@import url("./CodeEditorTheme.css");

.CodeEditor {
  --output-zoom: 1;
  --gutter-min-width: 80px;
  --editor-font-size: 1em;
  --output-longer-length: 600px;
  --output-shorter-length: 320px;
}

.CodeEditor > .sdi-app-workspace {
  display: grid;
  grid-template-areas: "Document Output";
  grid-template-columns: auto calc(400px * var(--output-zoom));
  grid-template-rows: auto;
}

.CodeEditor > .sdi-app-workspace > .Document {
  grid-area: Document;
  overflow: hidden;
}

.CodeEditor > .sdi-app-workspace > .Output {
  grid-area: Output;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  background-color: var(--qbasic-interpreter-screen-border-color, #afafaf);
  zoom: var(--output-zoom);
  touch-action: pan-x pan-y;
}

.CodeEditor .Output__Canvas {
  height: var(--output-longer-length);
  width: var(--output-shorter-length);
  background-color: black;
}

.CodeEditor > .sdi-app-workspace.Orientation-Landscape .Output__Canvas {
  width: var(--output-longer-length);
  height: var(--output-shorter-length);
}

.CodeEditor .cm-editor {
  font-size: var(--editor-font-size);
  width: 100%;
  height: 100%;
}

.CodeEditor .cm-editor .cm-activeLine {
  background-color: rgba(108, 108, 108, 0.13);
}

.CodeEditor .cm-editor .cm-selectionMatch {
  background: var(--color-brand-1);
}

.CodeEditor
  .cm-editor.cm-focused
  > .cm-scroller
  > .cm-selectionLayer
  .cm-selectionBackground,
.CodeEditor
  .cm-editor
  > .cm-scroller
  > .cm-selectionLayer
  .cm-selectionBackground {
  background-color: var(--color-selection);
}

.CodeEditor .cm-editor ::selection {
  background-color: transparent !important;
}

.CodeEditor .cm-editor .cm-cursorLayer .cm-cursor,
.CodeEditor .cm-editor .cm-cursorLayer .cm-dropCursor {
  border-left-color: var(--color-caret, var(--color-black, #000));
  border-left-width: 2px;
}

.CodeEditor .cm-editor .cm-gutters {
  background-color: var(--color-tone);
  border-right: 1px solid var(--color-tint-1);
  min-width: var(--gutter-min-width);
}

.CodeEditor .cm-editor .cm-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.CodeEditor .cm-editor .cm-lineNumbers {
  flex-grow: 1;
}

.CodeEditor .cm-editor .cm-gutters {
  color: #6c6c6c;
}

.CodeEditor .cm-editor .cm-gutters .cm-activeLineGutter {
  color: #969696;
  background-color: var(--color-tone);
}

.CodeEditor .cm-editor .cm-scroller {
  font-family: var(--system-code-font-family);
  overflow: auto;
  max-height: 100%;
}

.CodeEditor .cm-editor .cm-line-error {
  background: var(--color-danger-1);
  color: var(--color-danger-3);
  border-top: 1px solid var(--color-danger-2);
  border-bottom: 1px solid var(--color-danger-2);
  padding: 0 2px 0 4px;
  font-family: var(--system-font-family);
}

.CodeEditor .cm-editor .cm-line-error .cm-line-error-counter {
  color: var(--color-danger-2);
  margin-right: 0.25em;
  user-select: none;
}

.CodeEditor .cm-editor .cm-line-error .cm-line-error-icon {
  color: var(--color-danger-2);
  vertical-align: top;
  display: inline-block;
  margin-top: 0.2em;
  margin-right: 0.5em;
  line-height: 0;
  user-select: none;
}

.CodeEditor .cm-editor .cm-line-error .cm-line-error-icon > svg {
  width: auto;
  height: 1em;
  display: inline-block;
}

.CodeEditor .cm-editor .cm-line-error .cm-line-error-message {
  font-weight: 600;
}

@media screen and ((max-width: 750px) or (max-height: 500px)) and (orientation: landscape) {
  .CodeEditor {
    --editor-font-size: 0.75em;
    --output-zoom: 0.5;
    --gutter-min-width: auto;
  }
}

@media screen and (min-width: 240px) and (min-height: 180px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 0.5;
  }
}

@media screen and (min-width: 460px) and (min-height: 280px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 0.75;
  }
}

@media screen and (min-width: 620px) and (min-height: 360px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 1;
  }
}

@media screen and (min-width: 750px) and (max-width: 1279px) and (min-height: 500px) and (orientation: landscape) {
  .CodeEditor {
    --output-zoom: 0.75;
  }
}

@media screen and (min-width: 940px) and (min-height: 530px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 1.5;
  }
}

@media screen and (min-width: 1400px) and (min-height: 950px) and (orientation: landscape) {
  .CodeEditor {
    --output-zoom: 1.5;
  }
}

@media screen and (min-width: 1279px) and (min-height: 700px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 2;
  }
}

@media screen and (min-width: 1540px) and (min-height: 880px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 2.5;
  }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) and (orientation: landscape) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    --output-zoom: 3;
  }
}

@media screen and ((orientation: portrait) or (max-device-aspect-ratio: 1/1)) {
  .CodeEditor {
    --gutter-min-width: auto;
  }

  .CodeEditor > .sdi-app-workspace:not(.Output-Active) {
    display: grid;
    grid-template-areas: "Document Output";
    grid-template-columns: 100vw 0;
    grid-template-rows: auto;
    overflow: hidden;
  }

  .CodeEditor > .sdi-app-workspace.Output-Active {
    display: grid;
    grid-template-areas: "Document Output";
    grid-template-columns: 0 100vw;
    grid-template-rows: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 340px) and (orientation: portrait) {
  .CodeEditor {
    --output-zoom: 0.75;
  }
}

@media screen and (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  .CodeEditor {
    --output-zoom: 1.5;
  }
}

@media screen and ((orientation: landscape) or (min-device-aspect-ratio: 1/1)) {
  .CodeEditor > .sdi-app-workspace.Output-Active.Orientation-Landscape {
    display: grid;
    grid-template-areas: "Document Output";
    grid-template-columns: 0 100vw;
    grid-template-rows: auto;
    overflow: hidden;
  }
}
