.CommandBar {
  user-select: none;
}

.CommandBar > menu {
  display: grid;
  margin: 0;
  padding: 0 var(--border-radius);
  grid-template: 1fr / repeat(10, 10fr);
  gap: var(--command-bar-gap);
}

@media screen and (max-width: 560px) {
  .CommandBar > menu > .CommandButton > button {
    padding: 0 var(--command-bar-gap);
    text-align: center;
  }

  .CommandBar > menu > .CommandButton > button > .CommandButtonHotkey {
    display: none;
  }

  .CommandBar > menu > .CommandButton > button:active,
  .CommandBar > menu > .CommandButton.active > button {
    color: var(--color-black);
    border-color: var(--color-white);
    background: var(--color-white);
  }

  .CommandBar > menu > .CommandButton.highlight > button:active::after,
  .CommandBar > menu > .CommandButton.active.highlight > button::after {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .CommandBar > menu {
    grid-template: 1fr / repeat(7, 7fr);
  }
}
