.TextEditor {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1.5em;
}

.TextEditor .Document {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-padding-block: 300px;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0 5px 12px #000000ff;
}

.TextEditor .CommandPanel {}

@media screen and (min-width: 650px) {
  .text-editor .ce-toolbar__content {
    max-width: min(650px, 80vw);
  }

  .text-editor .ce-block__content {
    max-width: min(650px, 80vw);
  }
}