.TextEditor .ce-block--selected .ce-block__content {
  background-color: var(--color-selection);
}

.TextEditor .ce-toolbar__actions > .ce-toolbar__plus:hover,
.TextEditor .ce-toolbar__actions > .ce-toolbar__settings-btn:hover {
  background: var(--color-tint-1);
}

.TextEditor .ce-popover .ce-popover-item .ce-popover-item__icon svg.bi path,
.TextEditor .ce-popover .ce-popover-item .ce-popover-item__icon svg.bi {
  stroke: none;
  fill: var(--color-black);
}

@media screen and (min-width: 650px) {
  .TextEditor .ce-toolbar__content {
    max-width: min(650px, 80vw);
  }

  .TextEditor .ce-block__content {
    max-width: min(650px, 80vw);
  }
}
