.FileDialog {
  z-index: 1;
}

.FileDialog__layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(0, 100%) 2em;
  max-height: 100%;
}

.FileDialog__layout > .FileDialog__pane {
  overflow: auto;
  scroll-behavior: auto;
  scroll-padding: 35%;
}
