.Document {
  display: flex;
  max-height: 100%;
  flex-direction: column;
}

.DualPanes {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: [pane-left] 1fr [pane-right] 1fr;
  gap: 1em;
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  padding: 2em 1em 1em;
  box-sizing: border-box;
  flex: 0 1 100%;
  min-height: 0;
}

.Pane {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content minmax(0, 100%);
}

.PaneLeft {
  composes: Pane;
  grid-column: pane-left;
}

.PaneRight {
  composes: Pane;
  grid-column: pane-right;
}

.PaneTabs {
  display: none !important;
}

@media screen and (orientation: portrait) {
  .PaneTabs {
    display: grid !important;
  }

  .Pane:not(.PaneFocus) {
    display: none;
  }

  .Pane.PaneFocus {
    grid-column: 1;
  }

  .DualPanes {
    grid-template-columns: [pane-single] 1fr;
  }
}
