.FileListItem {
  display: grid;
  grid-template: auto / 0.6em 2fr 1fr 1.5fr;
  gap: 3px;
  container-name: FileList;
  container-type: inline-size;
}

.FileListItem > .FileListItem__fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FileListItem > .FileListItem__size {
  font-variant-numeric: tabular-nums;
  text-align: right;
  white-space: nowrap;
}

.FileListItem > .FileListItem__modified {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.FileListItem > .FileListItem__modified--short {
  display: none;
}

@container FileList (max-width: 30em) {
  .FileListItem > .FileListItem__modified {
    display: none;
  }

  .FileListItem > .FileListItem__modified--short {
    display: block;
  }
}
