.MkDirDialog {
  background: linear-gradient(
    to bottom,
    var(--color-tint-1),
    var(--color-tint-2) 50%
  );
  padding-top: 1.2rem;
  max-width: min(50rem, 75vw);
}

@media screen and (max-width: 620px) {
  .MkDirDialog {
    max-width: 100%;
    width: 100%;
  }
}
