@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf&display=swap');

:root {
  --emoji-font: 'Noto Colr Emoji Glyf';
  --system-font-family: 'Fira Sans', var(--emoji-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --system-header-font-family: 'Abril Fatface', var(--emoji-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --border-radius: 8px;
  --focus-border-radius: 7px;
  --focus-border: 3px solid var(--color-focus);

  --command-bar-height: 2.5em;
  --command-bar-font-size: 1.1em;
  --command-bar-radius: 4px;
  --command-bar-gap: 4px;

  /*
    Palette
    ===
  */

  /*
    General
    ---
    Use: Editors, Workspaces, Canvases
  */
  --color-general-1: #605611;
  --color-general-2: #D1C570;
  --color-general-3: #EDE3A9;
  --color-general-4: #FFF8CF;
  --color-general: var(--color-general-2);

  /*
    Success
    ---
    Use: Yes, Accept, Succcess, Settings
  */
  --color-success-1: #295F11;
  --color-success-2: #97B888;
  --color-success-3: #D6E3D0;
  --color-success-4: #EFF4ED;
  --color-success: var(--color-success-2);

  /*
    Files
    ---
    Use: File management, File Select/Store dialogs
  */
  --color-files-1: #11335F;
  --color-files-2: #9EC0EC;
  --color-files-3: #D0DDEE;
  --color-files-4: #EBF2FB;
  --color-files: var(--color-files-2);

  /*
    Danger
    ---
    Use: No, Reject, Remove, Destructive operations
  */
  --color-danger-1: #5F1E11;
  --color-danger-2: #CC887A;
  --color-danger-3: #F0D2CC;
  --color-danger-4: #FBEDEA;
  --color-danger: var(--color-danger-2);

  /*
    Brand
    ---
    Use: Only for brand-related use, no meaning
  */
  --color-brand-1: #502B00;
  --color-brand-2: #CD6F00;
  --color-brand-3: #F4D4AE;
  --color-brand-4: #FFEDD7;
  --color-brand: var(--color-brand-2);

  --color-dark-1: #000000;
  --color-dark-2: #0F0F0F;
  --color-dark-3: #2F2F2F;
  --color-dark-4: #414141;
  --color-dark: var(--color-dark-3);
  --color-black: var(--color-dark-1);

  --color-white: #FFFFFF;
  --color-light: var(--color-white);

  /*
    Special UI colors
  */
  --color-focus: #308AFF;
  --color-hightlight: #FF96A0;
}

@media screen and (max-width: 750px),
screen and (max-height: 640px) {
  :root {
    --command-bar-height: 1.75em;
    --command-bar-font-size: 0.8em;
    --command-bar-radius: 2px;
    --command-bar-gap: 2px;
  }
}

.bg-general {
  --color-tone: var(--color-general);
  --color-shade: var(--color-general-1);
  --color-tint-1: var(--color-general-3);
  --color-tint-2: var(--color-general-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-success {
  --color-tone: var(--color-success);
  --color-shade: var(--color-success-1);
  --color-tint-1: var(--color-success-3);
  --color-tint-2: var(--color-success-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-files {
  --color-tone: var(--color-files);
  --color-shade: var(--color-files-1);
  --color-tint-1: var(--color-files-3);
  --color-tint-2: var(--color-files-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-danger {
  --color-tone: var(--color-danger);
  --color-shade: var(--color-danger-1);
  --color-tint-1: var(--color-danger-3);
  --color-tint-2: var(--color-danger-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-brand {
  --color-tone: var(--color-brand);
  --color-shade: var(--color-brand-1);
  --color-tint-1: var(--color-brand-3);
  --color-tint-2: var(--color-brand-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

:is(.bg-general, .bg-success, .bg-files, .bg-danger, .bg-brand) .text-muted {
  color: var(--color-shade);
}

body {
  margin: 0;
  font-family: var(--system-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--system-header-font-family);
  font-weight: 400;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

button,
input,
select,
option {
  font-family: var(--system-font-family);
}

*:focus-visible {
  outline: none;
}

input.form-control:not([type]),
input.form-control[type="text"],
input.form-control[type="password"],
input.form-control[type="url"],
input.form-control[type="email"],
input.form-control[type="tel"],
input.form-control[type="time"],
input.form-control[type="week"],
input.form-control[type="search"],
input.form-control[type="password"],
input.form-control[type="month"],
input.form-control[type="date"],
input.form-control[type="datetime-local"] {
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  font-size: 2.25rem;
  border: 1px solid transparent;
  border-bottom: 2px solid #00000066;
}

input.form-control::placeholder {
  color: #00000022;
}

input.form-control:not([type]):not(:read-only):focus,
input.form-control[type="text"]:not(:read-only):focus,
input.form-control[type="password"]:not(:read-only):focus,
input.form-control[type="url"]:not(:read-only):focus,
input.form-control[type="email"]:not(:read-only):focus,
input.form-control[type="tel"]:not(:read-only):focus,
input.form-control[type="time"]:not(:read-only):focus,
input.form-control[type="week"]:not(:read-only):focus,
input.form-control[type="search"]:not(:read-only):focus,
input.form-control[type="password"]:not(:read-only):focus,
input.form-control[type="month"]:not(:read-only):focus,
input.form-control[type="date"]:not(:read-only):focus,
input.form-control[type="datetime-local"]:not(:read-only):focus {
  background: #fff;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000022;
}

.sdi-app {
  position: fixed;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--command-bar-height);
}

.sdi-app>.sdi-app-workspace {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-padding-block: 300px;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0 5px 12px #000000ff;
}

.sdi-app>.sdi-app-cmdbar {
  display: contents;
  font-size: var(--command-bar-font-size, 1em);
  color: var(--color-white);
}