@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Fira+Code:wght@400;600;700&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf&display=swap");

:root {
  --emoji-font: "Noto Colr Emoji Glyf";
  --system-font-family: "Fira Sans", var(--emoji-font), -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --system-header-font-family: "Abril Fatface", var(--emoji-font), Cambria,
    Cochin, Georgia, Times, "Times New Roman", serif;
  --system-code-font-family: "Fira Code", var(--emoji-font), ui-monospace, Menlo,
    Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
  --border-radius: 8px;
  --focus-border-width: 3px;
  --focus-border-radius: 7px;
  --focus-border: var(--focus-border-width) solid var(--color-focus);
  --button-border-radius: 4px;

  --command-bar-height: 2.5em;
  --command-bar-font-size: 1.1em;
  --command-bar-radius: 4px;
  --command-bar-gap: 4px;

  --scroll-bar-radius: 5px;

  /*
    Palette
    ===
  */

  /*
    General
    ---
    Use: Editors, Workspaces, Canvases
  */
  --color-general-1: #605611;
  --color-general-2: #d1c570;
  --color-general-3: #ede3a9;
  --color-general-4: #fff8cf;
  --color-general: var(--color-general-2);

  /*
    Success
    ---
    Use: Yes, Accept, Succcess, Settings
  */
  --color-success-1: #295f11;
  --color-success-2: #97b888;
  --color-success-3: #d6e3d0;
  --color-success-4: #eff4ed;
  --color-success: var(--color-success-2);

  /*
    Files
    ---
    Use: File management, File Select/Store dialogs
  */
  --color-files-1: #11335f;
  --color-files-2: #9ec0ec;
  --color-files-3: #d0ddee;
  --color-files-4: #ebf2fb;
  --color-files: var(--color-files-2);

  /*
    Danger
    ---
    Use: No, Reject, Remove, Destructive operations
  */
  --color-danger-1: #5f1e11;
  --color-danger-2: #cc887a;
  --color-danger-3: #f0d2cc;
  --color-danger-4: #fbedea;
  --color-danger: var(--color-danger-2);

  /*
    Brand
    ---
    Use: Only for brand-related use, no meaning
  */
  --color-brand-1: #502b00;
  --color-brand-2: #cd6f00;
  --color-brand-3: #f4d4ae;
  --color-brand-4: #ffedd7;
  --color-brand: var(--color-brand-2);

  --color-dark-1: #000000;
  --color-dark-2: #0f0f0f;
  --color-dark-3: #2f2f2f;
  --color-dark-4: #414141;
  --color-dark: var(--color-dark-3);
  --color-black: var(--color-dark-1);
  --color-black-50: #00000080;

  --color-white: #ffffff;
  --color-light: var(--color-white);
  --color-white-50: #ffffff80;
  --color-light-50: var(--color-white-50);

  --color-backdrop: #000000bf;

  /*
    Special UI colors
  */
  --color-focus: #308aff;
  --color-selection: #d5e7ff;
  --color-hightlight: #ff96a0;
  --color-list-selection: #fcf9e9;

  --dialog-button-bkg-accept: linear-gradient(to bottom, #9aab94, #bcd1b4 50%);
  --dialog-button-bkg-reject: linear-gradient(to bottom, #c7aea9, #f0d2cc 50%);
}

@media screen and (max-width: 750px), screen and (max-height: 640px) {
  :root {
    --command-bar-height: 1.75em;
    --command-bar-font-size: 0.8em;
    --command-bar-radius: 2px;
    --command-bar-gap: 2px;
  }

  dialog {
    font-size: 1.5rem !important;
  }
}

.bg-general {
  --color-tone: var(--color-general);
  --color-shade: var(--color-general-1);
  --color-tint-1: var(--color-general-3);
  --color-tint-2: var(--color-general-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-success {
  --color-tone: var(--color-success);
  --color-shade: var(--color-success-1);
  --color-tint-1: var(--color-success-3);
  --color-tint-2: var(--color-success-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-files {
  --color-tone: var(--color-files);
  --color-shade: var(--color-files-1);
  --color-tint-1: var(--color-files-3);
  --color-tint-2: var(--color-files-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-danger {
  --color-tone: var(--color-danger);
  --color-shade: var(--color-danger-1);
  --color-tint-1: var(--color-danger-3);
  --color-tint-2: var(--color-danger-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

.bg-brand {
  --color-tone: var(--color-brand);
  --color-shade: var(--color-brand-1);
  --color-tint-1: var(--color-brand-3);
  --color-tint-2: var(--color-brand-4);
  color: var(--color-black);
  background: var(--color-tint-2);
}

:is(.bg-general, .bg-success, .bg-files, .bg-danger, .bg-brand) .text-muted {
  color: var(--color-shade);
}

body {
  margin: 0;
  font-family: var(--system-font-family);
}

::-webkit-scrollbar {
  width: calc(var(--border-radius) * 2);
  height: calc(var(--border-radius) * 2);
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-tone, var(--color-general-2));
  border: 0.15rem solid var(--color-tint-1, var(--color-general-3));
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-shade, var(--color-general-1));
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-white);
}

::-webkit-scrollbar-track {
  background: var(--color-tint-1, var(--color-general-3));
  border: 0px none;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: var(--color-tint-1, var(--color-general-3));
}

::-webkit-scrollbar-track:active {
  background: var(--color-tint-1, var(--color-general-3));
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: var(--color-selection);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--system-header-font-family);
  font-weight: 400;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

button,
input,
select,
option {
  font-family: var(--system-font-family);
}

*:focus-visible {
  outline: none;
}

input.form-control:not([type]),
input.form-control[type="text"],
input.form-control[type="password"],
input.form-control[type="url"],
input.form-control[type="email"],
input.form-control[type="tel"],
input.form-control[type="time"],
input.form-control[type="week"],
input.form-control[type="search"],
input.form-control[type="password"],
input.form-control[type="month"],
input.form-control[type="date"],
input.form-control[type="datetime-local"] {
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  font-size: 2.25rem;
  border: 1px solid transparent;
  border-bottom: 2px solid #00000066;
}

input.form-control::placeholder {
  color: #00000022;
}

input.form-control:not([type]):not(:read-only):focus,
input.form-control[type="text"]:not(:read-only):focus,
input.form-control[type="password"]:not(:read-only):focus,
input.form-control[type="url"]:not(:read-only):focus,
input.form-control[type="email"]:not(:read-only):focus,
input.form-control[type="tel"]:not(:read-only):focus,
input.form-control[type="time"]:not(:read-only):focus,
input.form-control[type="week"]:not(:read-only):focus,
input.form-control[type="search"]:not(:read-only):focus,
input.form-control[type="password"]:not(:read-only):focus,
input.form-control[type="month"]:not(:read-only):focus,
input.form-control[type="date"]:not(:read-only):focus,
input.form-control[type="datetime-local"]:not(:read-only):focus {
  background: #fff;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000022;
}

button {
  border: none;
  background: var(--color-tone);
  padding: 0.5em;
  border-radius: var(--button-border-radius);
  border: none;
  font-size: 1em;
  cursor: pointer;
  box-sizing: content-box;
  user-select: none;
}

.sdi-app {
  position: fixed;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--command-bar-height);
}

.sdi-app > .sdi-app-workspace {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-padding-block: 300px;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0 5px 12px #000000ff;
}

.sdi-app > .sdi-app-workspace *::-webkit-scrollbar-track {
  border-radius: var(--scroll-bar-radius);
}

.sdi-app > .sdi-app-workspace *::-webkit-scrollbar-thumb {
  border-radius: var(--scroll-bar-radius);
  border-width: 0.2rem;
}

.sdi-app > .sdi-app-cmdbar {
  display: contents;
  font-size: var(--command-bar-font-size, 1em);
  color: var(--color-white);
}
