.BreadcrumbBar__Crumb {
  flex: 0 0;
  display: block;
  background: var(--color-tint-1);
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: none;
  font-size: 1em;
  cursor: pointer;
  box-sizing: content-box;
  white-space: nowrap;
  user-select: none;
}

.BreadcrumbBar__Crumb:focus {
  border: var(--focus-border-width) solid var(--color-tone);
  margin: calc(-1 * var(--focus-border-width));
}
