.BreadcrumbBar__Crumb {
  flex: 0 0;
  display: block;
  color: var(--color-black);
  background: var(--color-tint-1);
  background-clip: padding-box;
  padding: 0.5em;
  border: var(--focus-border-width) solid transparent;
  border-radius: var(--border-radius);
  font-size: 1em;
  cursor: pointer;
  box-sizing: content-box;
  white-space: nowrap;
  user-select: none;
}

.BreadcrumbBar__Crumb:focus {
  border: var(--focus-border-width) solid var(--color-tone);
}
